:root {
  --color-green: #38af90;
  --color-white: #ffffff;
  --color-red: #dd7e92;
  --bg-light-gray: #e5e5e5;
  --bg-gray: #f0f0f0;
  --bg-black: #383838;
  --text-gray: #797979;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*   font-family: 'Poppins', sans-serif;   */
}

html,
body {
  font-family: "Poppins", sans-serif;
}
.header-container {
  height: 90px;
  width: 100%;
  background-color: var(--color-green);
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}
.nav-container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container h1 {
  color: var(--color-white);
  font-size: 18px;
}
.nav-container img {
  width: 62px;
}

#news {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}
.news-title {
  font-size: 24px;
  color: var(--text-gray);
  text-align: center;
  margin-top: 40px;
}
.news-container {
  font-size: 24px;
  color: var(--text-gray);
  text-align: center;
  padding: 10px;
}
.news-card {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;

  background-color: var(--bg-gray);
  border-radius: 8px;
  padding: 12px;

  text-align: left;
  margin-bottom: 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.news-card h3 {
  font-size: 16px;
  color: var(--color-green);
}
.news-card h4 {
  font-size: 12px;
  color: var(--text-gray);
  border-bottom: 1px solid var(--color-green);
}
.news-card-date {
  font-size: 10px;
  color: var(--color-green);
}

.news-card-text {
  font-size: 10px;
  color: var(--text-gray);
}
.news-card-read-more {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-red);
}
#btn-get-more {
  height: 67px;
  width: 244px;
  border-radius: 8px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 18px;
  border: none;

  font-weight: 700;

  margin-bottom: 40px;
}

#games {
  margin: 0;
  padding: 0;
  background-color: var(--bg-light-gray);
}

.games-title {
  color: var(--color-green);
  text-align: center;
}
.games-container {
  width: 100%;
  max-width: 990px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.games-card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  
  background-color: var(--color-white);
  border-radius: 8px;

  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.games-card img {
  width: 300px;
  height: 168px;
  border-radius: 8px;
}
.games-card h3 {
  font-size: 18px;
  color: var(--text-gray);
}

.games-card span {
  font-size: 14px;
  color: var(--color-green);
  font-weight: 700;
}
.games-card p {
  font-size: 12px;
  color: var(--text-gray);
}
.games-card-score {
  font-size: 36px;
  color: var(--color-green);
  font-weight: 700;
}
#score {
  font-size: 36px;
  color: var(--color-green);
  font-weight: 700;
}


#sign-up {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
}
#sign_up h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.sign_up-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.form-card {
  background-color: var(--bg-gray);
  border-radius: 8px;
  padding: 8px;

  width: 100%;
  max-width: 790px;
  height: 552px;
}
.form-card form input {
  height: 5opx;
  width: 280px;
}
#btn-send {
  height: 67px;
  width: 244px;
  border-radius: 8px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 18px;
  border: none;
  margin: 8px;
}
#btn-reset {
  height: 67px;
  width: 244px;
  border-radius: 8px;
  background-color: var(--color-white);
  color: var(--color-red);
  font-size: 18px;
  border: 2px solid var(--color-red);
  margin: 8px;
}
footer {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  height: 302px;
  background-color: var(--bg-black);

  color: var(--color-white);
  font-size: 14px;
}
.footer-content {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  height: 302px;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;
}
.footer-content p {
  padding: 3px;
}
.footer-company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-terms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
