:root {
  --color-green: #38af90;
  --color-white: #ffffff;
  --color-red: #dd7e92;
  --bg-light-gray: #e5e5e5;
  --bg-gray: #f0f0f0;
  --bg-black: #383838;
  --text-gray: #797979;
  --placeholder_light_gray: #c4c4c4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*   font-family: 'Poppins', sans-serif;   */
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 6px;
}

.header-container {
  height: 90px;
  width: 100%;
  background-color: var(--color-green);
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
}

.nav-container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container h1 {
  color: var(--color-white);
  font-size: 3rem;
}

.nav-container img {
  width: 62px;
}

.menu-itens {
  display: flex;
  list-style-type: none;
}

.menu-itens a {
  text-decoration: none;
  color: var(--color-white);
  display: none;
  visibility: hidden;
  margin: 0px;
}

.menu-itens li {
  margin: 0px;
  font-size: 14px;
}

#news {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

.news-title {
  font-size: 4rem;
  color: var(--text-gray);
  text-align: center;
  margin-top: 40px;
}

.news-container {
  font-size: 24px;
  color: var(--text-gray);
  text-align: center;
  padding: 10px;
}

.news-card {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;

  background-color: var(--bg-gray);
  border-radius: 8px;
  padding: 12px;

  text-align: left;
  margin-bottom: 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news-card h3 {
  font-size: 16px;
  color: var(--color-green);
}

.news-card h4 {
  font-size: 12px;
  color: var(--text-gray);
  border-bottom: 1px solid var(--color-green);
}

.news-card-date {
  font-size: 10px;
  color: var(--color-green);
}

.news-card-text {
  font-size: 10px;
  color: var(--text-gray);
}

.news-card-read-more {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-red);
}

#btn-get-more {
  height: 67px;
  width: 244px;
  border-radius: 8px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 18px;
  border: none;

  font-weight: 700;

  margin-bottom: 40px;
}

#games {
  margin: 0;
  padding: 0;
  background-color: var(--bg-light-gray);
}

.games-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.games-title {
  color: var(--color-green);
  text-align: center;

  padding: 40px 0 28px 0;
  font-size: 4rem;
}

.games-container {
  width: 100%;
  max-width: 990px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.games-card {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  background-color: var(--color-white);
  border-radius: 8px;

  margin: 0px 10px 20px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 326px;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.games-card img {
  width: 300px;
  height: 168px;
  border-radius: 8px;
}
.games-card h3 {
  font-size: 18px;
  color: var(--text-gray);

  margin-top: 30px;
}

.games-card span {
  font-size: 14px;
  color: var(--color-green);
  font-weight: 700;
}
.games-card p {
  font-size: 12px;
  color: var(--text-gray);
}

#score {
  font-size: 36px;
  color: var(--color-green);
  font-weight: 700;
}

#sign-up {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
}

#sign_up h2 {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;

  margin-top: 40px;
}

.sign_up-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  color: var(--text-gray);
}

.form-card {
  background-color: var(--bg-gray);
  border-radius: 8px;
  padding: 8px;

  width: 100%;
  max-width: 790px;
  height: 603px;

  margin-top: 16px;
  margin-bottom: 40px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 16px;
}

#ctrl_name {
  height: 50px;
  width: 280px;

  margin-top: 52px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 22px;

  font-size: 16px;
  border: 1px solid var(--text-gray);
}

#ctrl_email {
  height: 50px;
  width: 280px;

  margin-bottom: 20px;
  border-radius: 4px;
  padding: 22px;

  font-size: 16px;
  border: 1px solid var(--text-gray);
}

.form-card form input::placeholder {
  color: var(--placeholder_light_gray);
}

.ctrl-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 253px;
}

.ctrl-radio input {
  height: 24px;
}

.radio {
  display: flex;
  justify-content: center;
  padding: 0px 10px 0px 0px;
}

#cltr_platform_1 {
  margin: 0px 10px 0px 0px;
}

.radio {
  height: 24px;
}

#ctrl_receive_news {
  margin-top: 35px;
  margin-bottom: 47px;
}

.ctrl-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-send {
  height: 67px;
  width: 244px;
  border-radius: 8px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 18px;
  border: none;
  margin: 8px;
  font-weight: 700;
}

#btn-reset {
  height: 67px;
  width: 244px;
  border-radius: 8px;
  background-color: var(--color-white);
  color: var(--color-red);
  font-size: 18px;
  border: 2px solid var(--color-red);
  margin: 8px;
  font-weight: 700;
}

footer {
  margin: 0;
  height: 302px;
  background-color: var(--bg-black);
}

.footer-content {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;

  height: 302px;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;

  color: var(--color-white);
  font-size: 14px;
}

.footer-content p {
  padding: 3px;
}

.footer-company {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-terms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  footer {
    height: 190px;
  }

  .footer-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    height: 190px;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around;

    color: var(--color-white);
    font-size: 14px;
  }
  .footer-company {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .nav-container h1 {
    font-size: 6rem;
  }

  .news-title {
    font-size: 6rem;
  }

  .news-card h3 {
    font-size: 24px;
  }

  .news-card h4 {
    font-size: 16px;
  }

  .menu-itens a {
    visibility: visible;
    display: contents;
    margin: 20px;
  }

  .menu-itens li {
    margin: 20px;
  }

  .menu-itens-foto {
    display: flex;
    justify-content: center;
  }

  #games {
    height: 559px;
  }

  .games-title {
    font-size: 6rem;
  }

  .games-container {
    width: 100%;
    max-width: 990px;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .sign_up-container {
    width: 100%;
    max-width: 790px;
    height: 603px;
    width: 790px;
  }

  #sign_up h2 {
    font-size: 6rem;
  }


  .form-card {
    padding: 0 0 0 70px;
    margin-bottom: 61px;
    height: 522px;
  }
  #ctrl_name {
    width: 642px;
  }

  #ctrl_email {
    width: 642px;
  }

  .ctrl-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 642px;
  }
}
